body{

    background-color:rgb(37, 50, 55);   
    color: white;
    font-family: system-ui;
   
}
header{
    text-align: center;
    border-bottom: double;
    padding-bottom: 10px;
}

img{
    

}
article p
{   margin:20px 30%;
    border: 3px solid blanchedalmond;
    text-align: center;  
    font-size: medium;
    color:floralwhite;
}
article img

{ 
 margin-top:20px; 
margin-right: 452px;
 width: 600px;
float:right;
}

 ol, h3,ul ,li{
     color: antiquewhite; 
      margin-left: 40px;
}
  
li{color:grey}